body{
    font-family: 'Poppins', sans-serif;
   
}
main{
    padding:0 !important;
}
.desig{
    font-weight:normal;
    font-size:1.5rem;
}
.heading{
    color: #1e88e5;
    font-size:3rem;
    
}
.about{
    display:flex !important;
    flex-direction: column;
   
}
.name{
    align-self:self-end;
    margin-right:15vw;
    margin-top:10vh;
}

aside {
  top: 50%;
  transform: translateY(-50%);
  width:15%;
  position:fixed;
}
.sidebar{
    list-style:none;
    display:flex;
    justify-content:center;
    align-items:center;
}
.socials{
    list-style:none;
    display:flex;
    justify-content:center;
    align-items:center;
    left:85%;
}
.social-images{
    width: 1.2rem;
    height:1.2rem;
    opacity:0.7;
}
.sidebar li a{
    text-decoration: none;
    
    display:block;
}
.content{
    margin-left:15%;
    scroll-snap-type: y mandatory;
    overflow-y:scroll;
    height:100vh;
    
}
section{
    min-height:100vh;
    padding-top:15vh;  
    scroll-snap-align:start;
}

.content section h2{
    margin-bottom:16px;
}
.content section p{
   
    margin:0 ;
    text-align:justify;
    max-width:50%
}
.content section form{
    max-width:600px;
    margin:0 auto;
}

.sidebar li:hover a{
    color: #1e88e5;
}
.sidebar{
    list-style:none;
    
}

.sidebar li a{
    text-decoration: none;
    
    display:block;
}
.sidebar li{
    transition: transform 0.2s ease-in-out;
}
.sidebar li:hover{
    transform: translateY(-5px);
    color: #1e88e5;
    
}
.socials li{
    transition: transform 0.2s ease-in-out;
}
.socials li:hover{
    transform: translateY(-5px);
    color: #1e88e5;
    
}

.sidebar li:active a{
     color: #1e88e5;
}

.sidebar a.active{
    color: #1e88e5;
}
html{
    scroll-behavior:smooth;
}

form{
    margin-left:0;
}
@keyframes changeContent{
    0% {
        content: "Ananthakrishanan P";
        transform: translateY(0);

	


    }
    
     50% {
        content: "nnthn";
        transform: translateY(-5px);

     }
     
     
}

#nnthn::before{
    content: "Ananthakrishanan P";
    animation: changeContent 5s ease-in-out infinite;
    display: inline-block;
    padding-right:.1rem;
    border-right:2px solid #1e88e5;
}

.text-container{
    position:absolute;
    transition: transform 0.5s ease;
}
.animate {
    transform: translateX(-100%);
}
.sidebar img{
    display:none;
    opacity:0;
}

@media(max-width:500px){
    .desig{
	font-size:1rem;
    }
    .heading{
	font-size:1.8rem;
    }
    body{
	font-size:1rem;
    }
    h4{
	font-size:1rem;
    }
    form{
	width:80%;
	margin-left: 0 !important;
    }
    .sidebar a{
	display:none;
    }
    .sidebar a.shome{
	background-image: url('./assets/shome.png');
	background-size: cover;
	height:1rem;
	width:1rem;
        background-position: center;
        display: block;
        text-indent: -9999px; 
    } 
    .sidebar a.sabout{
	background-image: url('./assets/sabout.png');
	background-size: cover;
	height:1rem;
	width:1rem;
        background-position: center;
        display: block;
        text-indent: -9999px; 
    } 
    .sidebar a.sskills{
	background-image: url('./assets/sskills.png');
	background-size: cover;
	height:1rem;
	width:1rem;
        background-position: center;
        display: block;
        text-indent: -9999px; 
	
    } 
    .sidebar a.sproject{
	background-image: url('./assets/sprojects.png');
	background-size: cover;
	height:1rem;
	width:1rem;
        background-position: center;
        display: block;
        text-indent: -9999px; 
    } 
    .sidebar a.scontact{
	background-image: url('./assets/scontact.png');
	background-size: cover;
	height:1rem;
	width:1rem;
        background-position: center;
        display: block;
        text-indent: -9999px; 
    } 
    .sidebar li{
	width:1.5rem;
	height:1.5rem;
	padding:1rem;
	margin-left:1rem;
    }
    .social-images{
	height:1rem;
	width:1rem;

    }
    .content section p{
   
    margin:0 ;
    text-align:justify;
    max-width:70%
}
}
