.card{
    background-color:#263134 ;
    text-align: start;
    min-width:20rem;
    max-height: 35rem;
    display:inline-block;
    overflow: hidden;
    flex-direction: column;
    padding: 2rem;
    border-radius: .5rem;
    margin-left: 2rem;
}
card-a{
    
}
.projects-container{
    width:74vw;
    display: flex;
    box-sizing: border-box;
    overflow-x: scroll;
    scrollbar-width:none;
}
.card-desc{
    width: 15em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:inherit;
}
.langs{
    margin-top: 4rem;
    margin-bottom: 0;
}
.card-img{
    display: flex;
    justify-content: space-between;
}

.item-content{
    height:inherit;
}
.Ui-img{
    width:25rem;
    border-radius: .8rem .8rem 0 0;
}
.ui-title{
    margin-top: 1rem;
    margin-inline:1rem;
    margin-right: 0;
}
.figma{
    margin-inline:1rem;
    
}
.uicard{
    padding: 1rem;
}
.ui-desc{
    margin-inline:1rem;
    max-width: 22rem;
    margin-right: 0;
}
@media(max-width:600px){
    .card{
	min-width: 10rem;
	min-height: 18rem;
    }
    .uicard{
	width:15rem;
    }
    
    .card-desc{
	width:10rem;
    }
}
