aside {
  top: 50%;
  transform: translateY(-50%);
  width:15%;
  position:fixed;
}
.sidebar{
    list-style:none;
    display:flex;
    justify-content:center;
    align-items:center;
}

 .sidebar-list{
    list-style-type: none;
}
 a {
     color:white :
 }
 
 .nav-text{
     font-family: "Fira Code", sans-serif;
     color:#848484;
     margin-left: .5rem;
 }
 
 .nav-indicator{
     background-color: #848484;
     height: 2px;
     width:.2rem;
     transition: width .3s ease-in-out;
 }
 .sidebar-a{
     display: flex;
     align-items: center;
     margin:.5rem 0 .5rem 0;
 }
 a{
     scroll-behavior:smooth;
 }
.sidebar-a:hover .nav-indicator {
  background-color: #23BEEF;
  color: #23BEEF;
  width: 4rem;
}

.sidebar-a:hover .nav-text {
  color: #23BEEF;
}


li.active .nav-indicator {
  background-color: #23BEEF;
  color: #23BEEF;
  width: 4rem;
}

li.active .nav-text {
  color: #23BEEF;
}

